.container{
    display: flex;
    padding: 20px;
    height: 100vh;
    gap: 30px;
    margin-top: 30px;
    flex-direction: column;
}

.textContainer{
    width: 50%;
}

.profilInfo{
    display: flex;
    flex-direction: column;
}

.profilInfo label {
    font-weight: 600;
    margin-top: 10px;
}