.container {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #f4f4f4;
  font-size: 15px;
  cursor: pointer;
  letter-spacing: 1px;
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
}

.container:hover {
  background-color: #e9e9e9;
}
