.container {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 64rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 5rem;
  background-color: white;
}

@media (min-width: 768px) {
  .container {
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .container {
    margin-right: auto;
    margin-left: auto;
  }
}

.mainContent {
  flex: 1 1 auto;
  min-width: 0;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

@media (min-width: 768px) {
  .mainContent {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom:0;
    height: fit-content;
  }

  .mainContent {
    margin-top: 0;
    padding: 10px;
  }

}

