.img {
  width: 100%;
  height: auto;
  margin-top: 30px;
  object-fit: cover;
  margin-top: 0;
  filter: contrast(90%);
}

.imgContainer {
  width: 50%;
}

.container {
  display: flex;
  padding: 20px;
  height: 100vh;
  gap: 30px;
  margin-top: 30px;
  height: 100%;
}

.textContainer {
  width: 50%;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    margin-top: 0;
  }

  .textContainer {
    width: 100%;
  }

  .imgContainer {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .container {
    margin-top: 50px;
  }
}
